body{

	margin: 0;
	padding: 0;
}
*d{
	background-color: green;
}
#btn{
	background-color: red;
}
#downOverlay > div {


	margin: 0px 10px 0px 10px;
	background-color: green;
	border: 1px solid yellow;
}
#downOverlay {

	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	height: 100px;
	background-color: #006994;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.right-down-box {

	flex: 1 20%;
	display: grid;
	grid-template-columns: 25% 50% 25% ;
	grid-column-gap : 2px;
	grid-row-gap: 5px;
	overflow: hidden;
}

.right-down-box > div  {

	text-align: center;
	background-color: #fff;
	border: 1px solid black;
}
.left-down-box {

	flex: 1 20%;
}
.center-down-box {

	flex: 1 40%;
	border-radius: 8px 8px 0px 0px;
	height: 120px;
}

.slideDown {
	position: fixed;
	top: 0;
	height: 150px;
	transition: height 1s;
}
#overlay{
	display: flex;
	flex-flow: row wrap;
}
.over {

	position: relative;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	background-color: #006994;
	box-shadow: 0px 2px 5px 3px #fff;
}

.left-box {

	flex: 1 30%;
	background-color: yellow ;
}

.right-box {

	flex: 1 30%;
	background-color: green ;
}

.center-box {
	flex: 1 40%;
	background-color: blue ;
}

.country{
box-shadow: 5px 10px 20px black;
}


button{

	position: absolute;
	right: 0;
	z-index: 999 ;
}
.sea{

	 fill :#006994
}
path d {

	fill: red;
}

path.test {

	animation-name: vibration;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

path.test :hover {
	animation-play-state: paused;
}

@keyframes vibration{

  0%   {opacity: 0.3 ;  box-shadow: 5px 10px 20px yellow inset;}
  15%  {opacity: 0.5; box-shadow: 5px 10px 22px yellow inset;}
  30%  {opacity: 0.6; box-shadow: 5px 10px 24px yellow inset;}
  45%  {opacity: 0.8; box-shadow: 5px 10px 26px red inset;}
  60%  {opacity: 0.6; box-shadow: 5px 10px 24px red inset;}
  75% {opacity: 0.5;  box-shadow: 5px 10px 22px red inset;}
  90% {opacity: 0.3;  box-shadow: 5px 10px 20px red inset;}

 }


#container {
	margin: auto;
	position: relative;
	width: 900px;
	height: 25px;
	margin-top : 100px;
}

#container > div {

	float: left;
	width: 300px;
	height: 100%;
}

#container div:last-child{

	border-radius: 0px 8px 8px 0px;
}

.last-border{

	border-radius: 0px 8px 8px 0px;
}

.first-border{

	border-radius: 8px 0px 0px 8px;
}

#container div:first-child{

	border-radius: 8px 0px 0px 8px;
}

#a{

		background-color:  red;

}

#b{

	background-color: yellow;

}

#c{

	background-color: blue;

}
 #test{

	width: 40px;
	height: 60px;
	background-color: red;
	margin-left: 0px;
  }

#btn {
	  clear: left;
  }
