/*
Colors palette:

Text #FDF6EB
Icons in the interface #FBE3C2
Interface accent color #F9CE93
Interface background #27282D
Interface grey contrast element #5D5D61
Water #2E4267
Player red #DF4C4C
Player blue #3D76E2
Player green #59AD4A
Player orange #F0713C
Player yellow #F6D63D
Player purple #9367DA
*/

@font-face {
  font-family: "Copperplate";
  src: url("../assets/fonts/Copperplate.ttf");
}

/* The map */
.Map {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Tokens display NorthWest UI*/
.tokens {
  width: 16.5rem;
  height: 3.5rem;
  background-color: #27282d;
  position: absolute;
  border-right: solid 0.2rem #f9ce93;
  border-bottom: solid 0.2rem #f9ce93;
  border-top: none;
  left: 0;
  top: 0;
  border-bottom-right-radius: 2.2rem;
  opacity: 0.9;
}

[id^="tokenType"],
[id*="tokenType"] {
  float: left;
  margin: 0.3rem 0.4rem 0rem 0.4rem;
}

[id^="tokenType"],
[id*="tokenType"] > img {
  width: 1.8rem;
  height: 1.8rem;
}

[id^="nbTokenType"],
[id*="nbTokenType"] {
  color: #fdf6eb;
  text-align: center;
}

#playerArmies,
#playerTerritories {
  float: left;
  margin: 0.3rem 0.4rem 0rem 0.4rem;
}

#playerArmies,
#playerTerritories > img {
  width: 1.8rem;
  height: 1.8rem;
}

#nbArmies,
#nbTerritories {
  color: #fdf6eb;
  text-align: center;
}

/* Tooltip */
.tooltipText {
  visibility: hidden;
  width: 11rem;
  background-color: #27282d;
  color: #fdf6eb;
  border: solid 0.2rem #f9ce93;
  text-align: center;
  padding: 0.3rem 0;
  border-radius: 0.5rem;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 4.2rem;
  left: 1.5rem;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipHover:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

/* Menu Button NorthEast UI */
.menuBtn {
  background-color: #27282d;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 0;
  right: 0;
  width: 3.5rem;
  height: 3.5rem;
  border-left: solid 0.2rem #f9ce93;
  border-bottom: solid 0.2rem #f9ce93;
  border-bottom-left-radius: 2.2rem;
  opacity: 0.9;
}

.menuIcon {
  height: 70%;
  cursor: pointer;
}

.menuIcon:hover {
  filter: brightness(120%);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: 4rem;
  right: 0.5rem;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #fdf6eb;
  background-color: #27282d;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  text-decoration: none;
  border: solid 0.2rem #f9ce93;
  border-radius: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0.3rem;
  width: 11rem;
  height: 1rem;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #fbe3c2;
  border: solid 0.2rem #fbe3c2;
  color: #27282d;
}

/* Show the dropdown menu */
.show {
  display: block;
}

/*-----------------------------------------------------------*/
/* Players list on southeast UI*/

/* Elements of players list*/
li[id^="playerSlot"],
li[id*="playerSlot"] {
  position: absolute;
  width: 15vw;
  height: 2.5rem;
  background-color: #27282d;
  border: solid 0.2rem #f9ce93;
  opacity: 0.9;
  position: absolute;
  right: 0.7rem;
  bottom: 0;
  justify-content: center;
  display: inline-block;
  border-radius: 0.5rem;
}

.current {
  border: solid 0.4rem #f9ce93;
}

#playerSlot1 {
  bottom: 0.7rem;
  color: rgb(64, 121, 221);
}

#playerSlot2 {
  bottom: 4rem;
  color: rgb(225, 103, 103);
}

#playerSlot3 {
  bottom: 7.3rem;
  color: rgb(90, 170, 83);
}

#playerSlot4 {
  bottom: 10.6rem;
  color: rgb(227, 199, 92);
}

#playerSlot5 {
  bottom: 13.9rem;
  color: rgb(223, 111, 73);
}
#playerSlot6 {
  bottom: 17.2rem;
  color: rgb(147, 107, 216);
}

[id^="playerSlot"]::after {
  content: "";
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  border-color: transparent;
  border-style: solid;
  border-width: 0.7rem;
}

#playerSlot1::after {
  border-left-color: #3d76e2;
  border-top-color: #3d76e2;
}
#playerSlot2::after {
  border-left-color: #df4c4c;
  border-top-color: #df4c4c;
}
#playerSlot3::after {
  border-left-color: #59ad4a;
  border-top-color: #59ad4a;
}
#playerSlot4::after {
  border-left-color: #f6d63d;
  border-top-color: #f6d63d;
}
#playerSlot5::after {
  border-left-color: #f0713c;
  border-top-color: #f0713c;
}
#playerSlot6::after {
  border-left-color: #9367da;
  border-top-color: #9367da;
}

[id^="playerSlot"][id$="Info"] {
  right: 16.5vw;
  width: 0px;
  /* border: transparent; */
  visibility: hidden;
  transition: width 0.3s ease-out;
  overflow: hidden;
  z-index: 2000;
  opacity: 0.9;
}

#playerSlot1Info {
  bottom: 0.7rem;
  color: rgb(64, 121, 221);
}
#playerSlot1:hover ~ #playerSlot1Info {
  width: 25rem;
  border: solid 0.2rem #f9ce93;
  visibility: visible;
}
#playerSlot2Info {
  bottom: 4rem;
  color: rgb(225, 103, 103);
}
#playerSlot2:hover ~ #playerSlot2Info {
  width: 25rem;
  border: solid 0.2rem #f9ce93;
  visibility: visible;
}

#playerSlot3Info {
  bottom: 7.3rem;
  color: rgb(90, 170, 83);
}
#playerSlot3:hover ~ #playerSlot3Info {
  width: 25rem;
  border: solid 0.2rem #f9ce93;
  visibility: visible;
}

#playerSlot4Info {
  bottom: 10.6rem;
  color: rgb(227, 199, 92);
}
#playerSlot4:hover ~ #playerSlot4Info {
  width: 25rem;
  border: solid 0.2rem #f9ce93;
  visibility: visible;
}

#playerSlot5Info {
  bottom: 13.9rem;
  color: rgb(223, 111, 73);
}
#playerSlot5:hover ~ #playerSlot5Info {
  width: 25rem;
  border: solid 0.2rem #f9ce93;
  visibility: visible;
}

#playerSlot6Info {
  bottom: 17.2rem;
  color: rgb(147, 107, 216);
}
#playerSlot6:hover ~ #playerSlot6Info {
  width: 25rem;
  border: solid 0.2rem #f9ce93;
  visibility: visible;
}

[id^="player"][id*="TokenType"],
[id^="player"][id*="Armies"],
[id^="player"][id*="Territories"] {
  float: left;
  margin: 0.3rem 0.4rem 0px 0.4rem;
  color: #fdf6eb;
}

[id^="player"][id*="TokenType"] > img,
[id^="player"][id*="Armies"] > img,
[id^="player"][id*="Territories"] > img {
  width: 1.8rem;
  height: 1.8rem;
  fill: #fbe3c2;
}

[id^="player"][id*="NbTokenType"],
[id^="player"][id*="NbArmies"],
[id^="player"][id*="NbTerritories"] {
  color: #fdf6eb;
  text-align: center;
}

/* Player name*/
[id^="player"][id$="Name"] > p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: auto;
  margin-top: 0.3rem;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.3rem;
}

/****************************************************************************/

.chat {
  position: absolute;
  left: 1rem;
  bottom: 8rem;
  width: 20vw;
  height: 45vh;
  opacity: 0.5;
}

.chat:hover {
  opacity: 1;
}

#chat ~ form,
p {
  margin: 0;
  padding: 0;
}

#chatWindow {
  text-align: left;
  margin: 0 auto;
  height: 38vh;
  width: 20vw;
  color: #fdf6eb;
  overflow: auto;
  box-sizing: border-box;
}

#chatForm {
  margin-top: 1rem;
}

#playerMsgInput {
  width: 14vw;
  height: 1.5rem;
  font-size: 1rem;
  font-family: Copperplate, serif;
  border: 0.1rem solid #fbe3c2;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
  outline: none;
  opacity: 0.9;
  background-color: #48484d;
  color: #fdf6eb;
}

#submitMsgBtn {
  width: 4vw;
  height: 1.7rem;
  color: #fdf6eb;
  font-size: 0.9rem;
  text-align: center;
  font-family: Copperplate, serif;
  background-color: transparent;
  border: solid 0.1rem #fbe3c2;
  border-radius: 0.2rem;
  opacity: 0.9;
}

#submitMsgBtn:hover {
  color: #27282d;
  border: solid 0.1rem #fbe3c2;
  background-color: #fbe3c2;
}

/************************************************************************/

/* Player controls southwest UI*/
.playerControls {
  width: 25vw;
  height: 5rem;
  display: flex;
  background-color: #27282d;
  border: solid 0.2rem #f9ce93;
  opacity: 0.9;
  border-radius: 0.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 0.7rem;
  margin-bottom: 0.7rem;
  line-height: normal;
}

#playerControlMessage {
  float: left;
  color: #fdf6eb;
  margin-left: 1rem;
  margin-right: 9rem;
  text-align: left;
  margin-top: 1.1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#playerControlMessage:hover {
  overflow: visible;
}

#phaseNumber {
  margin-left: 1.5rem;
  font-size: 1em;
  font-weight: bold;
}

#phaseName {
  font-size: 1.9em;
  font-weight: bold;
}

#yourPlayerColor {
  position: absolute;
  display: inline-block;
  top: 0.2rem;
  left: 0.2rem;
  border-color: transparent;
  border-style: solid;
  border-width: 1.2rem;
  border-left-color: white;
  border-top-color: white;
}

/* Play button on player control*/
#nextPhaseBtn {
  right: 0.8rem;
  position: absolute;
  width: 8rem;
  margin-top: 0.8rem;
}

#nextPhaseBtn:hover {
  filter: brightness(120%);
}

/* Combat zone on south UI*/
.combatUI {
  position: absolute;
  display: flex;
  text-align: center;
  align-items: center;
  color: #fdf6eb;
  font-size: 1.5em;
  bottom: 0;
  width: 40vw;
  height: 9rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #27282d;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-top: solid 0.2rem #f9ce93;
  border-right: solid 0.2rem #f9ce93;
  border-left: solid 0.2rem #f9ce93;
  opacity: 0.9;
}

.combatUILeft {
  position: absolute;
  flex-direction: column;
  left: 1rem;
  width: 33%;
}

.combatUIRight {
  position: absolute;
  flex-direction: column;
  right: 1rem;
  width: 33%;
}

.combatUICenter {
  position: absolute;
  flex-direction: column;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
}

.bigBtn {
  margin-top: 0.8%;
  height: 8rem;
}

.armiesSelectionBtn {
  height: 3rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  margin: 0.2rem;
  cursor: pointer;
}

.armiesSelectionBtn:hover {
  filter: brightness(120%);
}

#DefendUI {
  display: none;
  visibility: hidden;
}

#AttackUI {
  display: none;
  visibility: hidden;
}

#attackCombatRed,
#defendCombatRed {
  color: rgb(225, 103, 103);
  font-weight: bold;
  font-size: 1.2em;
}

/* ------------------------------------------------------------------------*/
/* Ratio bar on north UI*/
#ratioBar {
  position: absolute;
  top: 0.3rem;
  width: 45vw;
  height: 0.8rem;
  border: 0.2rem solid #f9ce93;
  background-color: #f9ce93;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2rem;
  overflow: hidden;
}

#ratioPlayer1 {
  height: 1rem;
  background-color: #3d76e2;
  float: left;
}

#ratioPlayer2 {
  height: 1rem;
  background-color: #df4c4c;
  float: left;
}

#ratioPlayer3 {
  height: 1rem;
  background-color: #59ad4a;
  float: left;
}

#ratioPlayer4 {
  background-color: #f6d63d;
  height: 1rem;
  float: left;
}

#ratioPlayer5 {
  background-color: #f0713c;
  height: 1rem;
  float: left;
}

#ratioPlayer6 {
  background-color: #9367da;
  height: 1rem;
  float: left;
}

.hovered-country {
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 25vw;
  height: 1.5rem;
  text-align: center;
  background-color: #27282d;
  color: #fdf6eb;
  border: solid 0.2rem #f9ce93;
  border-radius: 2rem;
  opacity: 0.9;
}

/****************************************************************************/
#timer {
  position: absolute;
  width: 4rem;
  height: 1.7rem;
  top: 0;
  right: 15vw;
  background-color: #27282d;
  border-bottom: solid 0.2rem #f9ce93;
  border-left: solid 0.2rem #f9ce93;
  border-right: solid 0.2rem #f9ce93;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  color: #fdf6eb;
  text-align: center;
  margin: auto;
  opacity: 0.9;
}

.generalMessageDisplay {
  position: absolute;
  width: 50vw;
  height: 10rem;
  max-width: 10em;
  background-color: #27282d;
  border: 0.2rem solid #f9ce93;
  border-radius: 1rem;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #fdf6eb;
  font-size: 3rem;
  opacity: 0.9;
  visibility: hidden;
  display: none;
}

#messageUITop {
  border-bottom: solid #f9ce93 1px;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  text-align: center;
  width: 40vw;
  position: absolute;
  bottom: 70px;
}

#messageUIBottom {
  padding-bottom: 0.5rem;
  text-align: center;
  width: 40vw;
  position: absolute;
  bottom: 10px;
}

#reinforcementUI {
  display: none;
  visibility: hidden;
  font-size: 0.5em;
  margin-top: 1rem;
  /* display: flex; */
  display: grid;
  grid-template-columns: 3fr 4fr 1fr;
}

.reinforcementUILeft {
  text-align: center;
  padding: 0.1rem;
}

.innerReinUIcenter,
.innerReinUILeft {
  text-align: center;
}

.reinforcementUIRight {
  text-align: center;
  padding: 0.5rem;
}

#reinUIRightAbort {
  margin-bottom: 1rem;
}

#reinUIRightAbort:hover {
  margin-bottom: 1rem;
  color: red;
}

#reinUIRightOK:hover {
  margin-bottom: 1rem;
  color: green;
}

#reinforcementTerritory {
  color: #fdf6eb;
  font-weight: bold;
  font-size: 0.8em;
}

#unitsToPut {
  width: 2em;
}

/*********** TOKENS UI ********************/
#tokenUI {
  display: none;
  visibility: hidden;
  font-size: 0.5em;
  margin-top: 1rem;
  /* display: flex; */
  display: grid;
  grid-template-columns: 3fr 4fr 1fr;
}

.tokenUILeft {
  text-align: center;
  padding: 0.1rem;
}

.innertokenUIcenter,
.innertokenUILeft {
  text-align: center;
}

.tokenUIRight {
  text-align: center;
  padding: 0.5rem;
}

#tokenUIRightAbort {
  margin-bottom: 1rem;
}

#tokenUIRightAbort:hover {
  margin-bottom: 1rem;
  color: red;
}

#tokenUIRightOK:hover {
  margin-bottom: 1rem;
  color: green;
}
/*********** ASK ATTACK UI ********************/
#askAttackUI {
  display: none;
  visibility: hidden;
  font-size: 0.5em;
  margin-top: 1rem;
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.askAttackUILeft {
  text-align: center;
  padding: 0.1rem;
}

.askAttackUIRight {
  text-align: center;
}

#askAttackUIRightAbort {
}

#askAttackUIRightAbort:hover {
  margin-bottom: 1rem;
  color: red;
}

#askAttackUIRightOK:hover {
  color: green;
}

/*********** ATTACK UI ********************/
#attackUI {
  display: none;
  visibility: hidden;
  font-size: 0.5em;
  margin-top: 1rem;
  /* display: flex; */
  display: grid;
  grid-template-columns: 3fr 4fr 1fr;
}

.attackUILeft {
  text-align: center;
  padding: 0.1rem;
}

.innerattackUIcenter,
.innerattackUILeft {
  text-align: center;
}

.attackUIRight {
  text-align: center;
}

#attackUIRightAbort {
}

#attackUIRightAbort:hover {
  margin-bottom: 1rem;
  color: red;
}

#attackUIRightOK:hover {
  color: green;
}

/* PIN grayedOut class */
.grayedOut {
  stroke: #27282d;
  opacity: 0.3;
}

/*********** FORTIFICATION UI ********************/
/* #FortifyUI {
  display: none;
  visibility: hidden;
  font-size: 0.5em;
  margin-top: 1rem;
  width: 30rem;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
/*}
.FortifyUILeft{
  text-align: center;
  padding: 0.5rem;
  background-color: blue;
  float: left;
  width: 10rem;
}
.FortifyUICenter{
  background-color: white;
  float: left;
  width: 5rem;
}

.FortifyUIRight{
  text-align: center;
  background-color: red;
  float: left;
  width: 10rem;
}

#FortifyUIRightAbort {

}

#FortifyUIRightAbort:hover {
  margin-bottom: 1rem;
  color: red
}

#FortifyUIRightOK:hover {
  color: green
} */
#FortifyUI {
  display: none;
  visibility: hidden;
  font-size: 0.5em;
  margin-top: 1rem;
  width: 40rem;
}

.FortifyUILeft {
  text-align: center;
  padding: 0.1rem;
  width: 20rem;
  float: left;
}

.FortifyUILeft > input {
  width: 3rem;
}

.FortifyUIRight {
  text-align: center;
  padding: 0.5rem;
  width: 10rem;
  float: left;
}

#FortifyUIRightAbort {
  margin-bottom: 1rem;
}

#FortifyUIRightAbort:hover {
  margin-bottom: 1rem;
  color: red;
}

#FortifyUIRightOK:hover {
  margin-bottom: 1rem;
  color: green;
}

/*********** TOKEN UI ************/
#TokenUI {
  display: none;
  visibility: hidden;
  width: 40vw;
}

#TokenUILeft {
  position: absolute;
  width: 22rem;
  height: 10rem;
  top: 0;
  left: 0;
  border-right: solid #f9ce93 1px;
}

#TokenUIUpperLeft {
  width: 16.5rem;
  height: 4.5rem;
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
}

#TokenUILowerLeft {
  width: 24rem;
  height: 5rem;
  position: absolute;
  left: 1rem;
  top: 5rem;
  /* background-color: green; */
}

#TokenUIRight {
  visibility: 'hidden';
  display: none;
  position: absolute;
  float: left;
  width: 12rem;
  height: 10rem;
  top: 0;
  right: 0;
  padding: 1em;
  /* background-color: red; */
  font-size: 0.8em;
}

[id^="tokenUIType"],
[id*="tokenUIType"] {
  float: left;
  margin: 0rem 0.4rem 0rem 0.4rem;
}

[id^="tokenUIType"],
[id*="tokenUIType"] > img {
  width: 1.8rem;
  height: 1.8rem;
}

[id*="tokenUIType"] > button {
  width: 1.8rem;
  height: 2.2rem;
}

[id^="nbTokenType"],
[id*="nbTokenType"] {
  color: #fdf6eb;
  text-align: center;
}

#tokenUINotice {
  position: absolute;
  float: left;
  width: 10rem;
  font-size: 1rem;
  left: 10.5rem;
}

/* #tokenSlotOne {
  float: left;
  width: 1.8rem;
  height: 1.8rem;
  margin: 0.3rem 0.4rem 0rem 0.4rem;
}

#tokenSlotTwo {
  float: left;
  width: 1.8rem;
  height: 1.8rem;
  margin: 0.3rem 0.4rem 0rem 0.4rem;
}

#tokenSlotThree {
  float: left;
  width: 1.8rem;
  height: 1.8rem;
  margin: 0.3rem 0.4rem 0rem 0.4rem;
} */

[id*="tokenSlot"][id$="Btn"] {
  float: left;
  margin: 0.3rem 0.7rem 0rem 0.4rem;
  border: solid #f9ce93 2px;
  border-radius: 0.5rem;
  background-color: #48484d;
  width: 2.2rem;
  height: 2.2rem;
}

[id*="tokenSlot"][id$="Img"] > img {
  width: 1.8rem;
  height: 1.8rem;
}

#tokenTradeBtn {
  background-color: transparent;
  height: 2.4rem;
  width: 5rem;
  margin: 0.3rem 0.7rem 0rem 0.4rem;
  border-radius: 0.5em;
  float: left;
}

#tokenTradeBtn > img {
  height: 2.4rem;
  width: 7.5rem;
}

#TokenSpread {
  visibility: hidden;
  display: none;
  background-color: #27282d;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 0.3rem;
  left: 17.2rem;
  width: 2.6rem;
  height: 2.6rem;
  border: solid 0.2rem #f9ce93;
  border-radius: 2.2rem;
  opacity: 0.9;
}

.tradeIcon {
  height: 70%;
  cursor: pointer;
}

.tradeIcon:hover {
  filter: brightness(120%);
}
