/*

Colors palette:

Text #FDF6EB

Icons in the interface #FBE3C2

Interface accent color #F9CE93

Interface background #27282D

Interface grey contrast element #5D5D61

Water #2E4267

Player red #DF4C4C

Player blue #3D76E2

Player green #59AD4A

Player orange #F0713C

Player yellow #F6D63D

Player purple #9367DA

*/

@font-face {
    font-family: 'Copperplate';
    src:  url('../assets/fonts/Copperplate.ttf');
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2E4267;
    font-family: Copperplate, serif;
}

#GameMap {
}

/* Tokens display NorthWest UI*/
#tokens {
    width : 150px;
    height: 50px;
    background-color: #27282D;
    position : absolute;
    border-right: solid 2px #F9CE93;
    border-bottom: solid 2px #F9CE93;
    border-top: none;
    left : 0;
    top : 0;
    border-bottom-right-radius: 30px;
    /*box-shadow: 8px 8px 10px -1px rgba(0,0,0,0.4);*/
}

#tokenTypeOne{
}

#tokenTypeTwo {
}

#tokenTypeThree{
}

#tokenTypeThree{
}

[id^='tokenType'], [id*='tokenType']{
    display: inline-block;
    float: left;
    margin : 2px 5px 0px 5px;
}

[id^='tokenType'], [id*='tokenType'] > img {
    width: 25px;
    height: 25px;
    fill: #FDF6EB;
}

[id^='nbTokenType'], [id*='nbTokenType']{
    color: #FDF6EB;
    text-align: center;

}

/* Menu Button NorthEast UI */
#menuBtn {
    background-color: #27282D;
    background-image: url(../assets/icons/menu.svg);
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;


    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    margin: 0;
    border-left: solid 2px #F9CE93;
    border-bottom: solid 2px #F9CE93;
    border-bottom-left-radius: 30px;
    outline: none;
    border-top: 0;
    border-right: 0;
    cursor: pointer;
   /* box-shadow: -8px 8px 10px -1px rgba(0,0,0,0.4);*/
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    width : 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right : 0;
    background-color: #27282D;
    min-width: 160px;
    box-shadow: -8px 8px 10px -1px rgba(0,0,0,0.4);
    z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #FDF6EB;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #FDF6EB;
    color : #27282D;
}

/* Show the dropdown menu */
.show {
    display:block;
}


/*-----------------------------------------------------------*/
/* Players list on southeast UI*/
ul{
    position: absolute;
    bottom: -15px;
    right: 0;
}

/* Elements of players list*/
li[id^='playerSlot'], li[id*='playerSlot'] {
    width : 160px;
    height: 36px;
    background-color: #27282D;
    border: solid 2px #F9CE93;
    position : absolute;
    right : 2px;
    bottom: 0;
/*box-shadow: -8px -8px 10px -2px rgba(0,0,0,0.4);*/
    display: inline-block;
    border-radius: 2px;
    font-weight: lighter;

}

#playerSlotOne {
    bottom: 0px;
    border: solid 4px #F9CE93;
    color: rgb(64,121,221);
}

#playerSlotTwo {
    bottom: 45px;
    color: rgb(225,103,103);
}

#playerSlotThree {
    bottom: 90px;
    color: rgb(90,170,83);
}

#playerSlotFour {
    bottom: 135px;
    color: rgb(227,199,92);
}

#playerSlotFive {
    bottom: 180px;
    color:  rgb(223,111,73);
}
#playerSlotSix {
    bottom: 225px;
    color: rgb(147,107,216);
}

[id^='playerSlot']::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    border-color: transparent;
    border-style: solid;
    border-width: 10px;
}

#playerSlotOne::after {
    border-left-color: #3D76E2;
    border-top-color: #3D76E2;
}
#playerSlotTwo::after {
    border-left-color: #DF4C4C;
    border-top-color: #DF4C4C;
}
#playerSlotThree::after {
    border-left-color: #59AD4A;
    border-top-color: #59AD4A;
}
#playerSlotFour::after {
    border-left-color: #F6D63D;
    border-top-color: #F6D63D;
}
#playerSlotFive::after {
    border-left-color: #F0713C;
    border-top-color: #F0713C;
}
#playerSlotSix::after {
    border-left-color: #9367DA;
    border-top-color: #9367DA;
}


/*#playerSlotOne {
    bottom: 0px;
    border: solid 4px #F9CE93;
    color: rgb(64,121,221);
}

#playerSlotTwo {
    bottom: 45px;
    color: rgb(225,103,103);
}

#playerSlotThree {
    bottom: 90px;
    color: rgb(90,170,83);
}

#playerSlotFour {
    bottom: 0px;
    right: 155px;
    color: rgb(227,199,92);
}

#playerSlotFive {
    bottom: 45px;
    right: 155px;

    color:  rgb(223,111,73);
}
#playerSlotSix {
    bottom: 90px;
    right: 155px;
    color: rgb(147,107,216);
}*/


/* Player name*/
p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 1em;
    margin: 10px 0px;
    text-align: center;
}

/*Display specific player info on mouse hover West UI*/
.playerListContainer{
    bottom: 0;
    left: 100%;
    width: 0;
    transition: .5s ease;
    position: absolute;
    right: 5px;
    height: 200px;
    background-color: #27282D;
    border: solid 2px #F9CE93;
}

.playerInfosOverlay{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #3D76E2;
    overflow: hidden;
    width: 0px;
    height: 100px;
}
.playerListContainer:hover .playerInfosOverlay{
    width: 300px;
    left: 0;
}

#chat{
    position: absolute;
    left: 50px;
    bottom: -50px;
    width: 300px;
    height: 300px;
}

#chat > p{
    color: #FDF6EB;
}


/************************************************************************/
/* Player controls southwest UI*/
#playerControls {
    width : 300px;
    height: 60px;
    background-color: #27282D;
    border: solid 2px #F9CE93;
    border-radius: 3px;
    position : absolute;
    left : 0;
    bottom: 0;
    /*box-shadow: 8px -8px 16px -2px rgba(0,0,0,0.4);*/
    margin-left: 5px;
    margin-bottom: 5px;
}

#playerControlMessage{
    display: inline-block;
    float: left;
    width: 150px;
    color: #FDF6EB;
    margin-left: 30px;
    text-align: center;
    margin-top: 10px;
}

#playerControlMessage > #action {

    font-size: 1.5em;
    font-weight: bold;
}


/* Current Phase indicator on player control*/
/*#playerControlCurrentPhase {
    width: 120px;
    height: 50px;
    margin: 5px 5px;
    background-color: #F9CE93;
    display: inline-block;
    float: left;
}*/

#playerControls::after {
    content: '';
    position: absolute;
    display: inline-block;
    top: 1px;
    left: 1px;
    border-color: transparent;
    border-style: solid;
    border-width: 15px;
    border-left-color: #3D76E2;
    border-top-color: #3D76E2;
}

/* Play button on player control*/
#phaseControlBtn {
    display: inline-block;
    float: left;
    background-color: #FDF6EB;
    height: 50px;
    width: 100px;
    margin: 5px 5px;
    border-radius: 12px;
    outline: none;
    border: none;
    font-family: Copperplate;
    font-weight: bold;
    text-align: left;
    font-size: 1.3em;
}

#phaseControlBtn::-moz-focus-inner {
    border: 0;
}


/* Combat zone on south UI*/
#combat {
    position: absolute;
    bottom: 0;
    width: 600px;
    height: 110px;
    background-color: #27282D;
    /*box-shadow: 0px -8px 10px 0px rgba(0,0,0,0.4);*/
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-top: solid 2px #F9CE93;
    border-right: solid 2px #F9CE93;
    border-left: solid 2px #F9CE93;
}

#combat > div {
    color: #FDF6EB;
    width: 180px;
    height: 100px;
    position: relative;
    float: left;
    left: 40px;
    top: 20px;
    text-align: center;
    font-size: 1.5em;

}

#combat > div > span {
    color: rgb(225,103,103);
    font-size: 1.5em;
    font-weight: bold;
}
/* ------------------------------------------------------------------------*/
/* Ratio bar on north UI*/
#ratioBar {
    position: absolute;
    top: 0;
    width: 500px;
    height: 10px;
    border: 2px solid #F9CE93;
    /*box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.4);*/
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    overflow: hidden;
}

#ratioRed {
    width: 140px;
    height: 15px;
    background-color: rgb(225,103,103);
    float: left;
    display: inline-block;

}

#ratioGreen {
    width: 100px;
    height: 15px;
    background-color: rgb(90,170,83);
    float: left;
    display: inline-block;
}

#ratioBlue {
    width: 100px;
    height: 15px;
    background-color: #3D76E2;
    float: left;
    display: inline-block;
}


#ratioPlayerFour {
    background-color: rgb(227,199,92);
}
#ratioPlayerFive {
    background-color:  rgb(223,111,73);
}
#ratioPlayerSix {
    background-color: rgb(147,107,216);
}
/***************************************************************************/
/*Active player display on north UI (under the ratio bar)*/
/*#activePlayerDisplay{
    position: absolute;
    top: 20px;
    width: 200px;
    height: 100px;
    background-color: rgba(238,232,170,0.5);
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.4);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}*/

/*****************************************************************************/
/*
.compass {
    fill: #fff;
    stroke: #000;
    stroke-width: 1;
}
.button {
    fill: rgb(43,44,49);
    stroke: rgb(249,204,150);
    stroke-width: 0.5;
    stroke-miterlimit:6;
    stroke-linecap: round;
}
.button:hover {
    stroke-width: 1;
}
}*/
/************************************************************************/
.draggable, .draggable-group {
    /*cursor: move;*/
}

/****************************************************************************/
#timer{
    width: 60px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 200px;
    background-color: #27282D;
    border-bottom: solid 2px #F9CE93;
    border-left: solid 2px #F9CE93;
    border-right: solid 2px #F9CE93;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #FDF6EB;
    text-align: center;
    margin: auto;
}
